body {

    height: 5000vh;
}

nav {

    background-color: #38393C;
    position: fixed !important;
    width: 100%;
}

nav ul {

    margin: auto;
    font-family: Raleway;
}

.login-btn {

    background-color: #BFAFA4;
}

.sign-up-btn {

    border-color: #979FA1;
}

.sign-up-btn:hover {

    background-color: #979FA1;
    border-color: #979FA1;
}
