body {

    height: 5000px;
}

nav {

    background-color: transparent;
    position: fixed !important;
    width: 100%;
    z-index: 2;
    transition: background-color 0.3s;
}

nav:hover {

    background-color:rgb(56, 57, 60, 0.7)
}

nav ul {

    margin: auto;
    font-family: Raleway;
    font-weight: 600;
}

video {

    height: auto !important;
    width: 100% !important;;
}


.login-btn {

    background-color: #BFAFA4;
}

.sign-up-btn {

    border-color: #979FA1;
}

.sign-up-btn:hover {

    background-color: #979FA1;
    border-color: #979FA1;
}

header h1 {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
    font-weight: 600;
    font-family: Raleway;
    padding: 2%;
    background-color: rgb(56, 57, 60, 0.7);
    border-radius: 3px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2); 
    text-align: center;
}

@media only screen and (max-width: 991px) {
    
    video {
        display: none;
    }

    header {

        background-image: url('./src/img/header-img.jpg');
        height: 80vh;
    }

    header h1 {

        position: static;
        margin: 0 auto;
        transform: unset;
        padding-top: 250px;
        width: unset;
        background-color: unset;
        box-shadow: none;
        text-shadow: 0 3px 3px rgba(0,0,0,0.2);
    }
}